body {
  background: #eef0f8;
  color: #334151;
  padding: 24px;
}
.summary-box-container {
  background: white;
  padding: 16px;
}
.summary-box-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-box-text {
  color: #99a6b7;
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
}
.summary-box-number {
  margin: 0;
  font-weight: 500;
  margin-bottom: 8px;
}
.summary-box-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #99a6b7;
  font-size: 14px;
}
.summary-box-time-container > p {
  margin: 0;
  margin-top: 4px;
}
/* .summary-box-time-container > p:nth-child(1) {
  color: #5b7fb0;
} */
.ptag {
  color: #8f9bad;
}
.summary-box-list {
  display: grid;
  gap: 24px;
}
@media (min-width: 500px) {
  .summary-box-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .summary-box-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.overview-container {
  margin-top: 16px;
  padding: 16px;
  background: white;
}
